/***info base***/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Varela Round', sans-serif;
}
.frst-cont , .scnd-cont{
 margin: 0 200px 0 200px;
}

  /***header details***/

header{
text-align: center;
}
h1{
color: rgb(197, 36, 79);
margin-top: 70px;
padding:50px;
font-size: 70px;
}

  /***main details***/

.column{
background-color: rgb(0, 0, 0);
width: calc((100% / 3) - 50px);
margin: 40px 25px 25px 25px;
float:left;
}
.column::after , .scnd-cont::after {
content: "";
display: table;
clear: both;
}
.info{
color: white;
float:left;
}
.info>p{
margin-top:15px;
margin-bottom: -11px;
}
a{
text-decoration: none;
color: rgb(28, 214, 252);
display: inline-block;
}
img{
float: left;
height: 100px;
margin: 0 10px 0 0;
}