/***info base***/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.frst-cont , .scnd-cont{
 margin: 0 200px 0 200px;
}

  /***header details***/

header{
text-align: center;
}
h1{
color: pink;
margin-top: 70px;
padding:50px;
}

  /***main details***/

.column{
background-color: rgb(0, 0, 0);
width: calc((100% / 3) - 50px);
margin-top: 40px;
float:left;
}
.column::after , .scnd-cont::after{
content: "";
display: table;
clear: both;
}
.column>p , h2{
color: white;
}
.column>p{
padding-top:10px;
}
a{
text-decoration: none;
color: rgb(28, 214, 252);
display: inline-block;
margin-bottom: 15px;
}
img{
float: left;
height: 100px;
margin: 0 10px 0 0;
}